* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  
.Home,
.Download,
.Register
 {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.Download {
  background-image: url(../public/images/pic1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(252, 252, 252);
  font-size: 100px;
}

.Register {
  background-image: url('../public/images/pic2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(252, 252, 252);
  font-size: 100px;
}